/* html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    60deg,
    rgba(253, 228, 255, 1) 0%,
    rgba(124, 156, 254, 1) 100%
  );
} */

@import "tailwindcss";

* {
  font-family: "DM Sans", sans-serif;
}

canvas {
  display: block;
}

.hero-bg {
  background-image: url("/img/bg.png");
  background-position: center;
  background-size: cover;
}