/* html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(
    60deg,
    rgba(253, 228, 255, 1) 0%,
    rgba(124, 156, 254, 1) 100%
  );
} */

@import "tailwindcss";

@theme {
  --animate-dialogue-in: dialogue-in 0.3s ease-out;

  @keyframes dialogue-in {
    from {
      opacity: 0;
      transform: translateY(1rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

* {
  font-family: "DM Sans", sans-serif;
}

canvas {
  display: block;
}

.hero-bg {
  background-image: url("/img/bg.png");
  background-position: center;
  background-size: cover;
}

.eased-overlay {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0.738) 19%,
    rgba(0, 0, 0, 0.541) 34%,
    rgba(0, 0, 0, 0.382) 47%,
    rgba(0, 0, 0, 0.278) 56.5%,
    rgba(0, 0, 0, 0.194) 65%,
    rgba(0, 0, 0, 0.126) 73%,
    rgba(0, 0, 0, 0.075) 80.2%,
    rgba(0, 0, 0, 0.042) 86.1%,
    rgba(0, 0, 0, 0.021) 91%,
    rgba(0, 0, 0, 0.008) 95.2%,
    rgba(0, 0, 0, 0.002) 98.2%,
    transparent 100%
  );
}

.smooth {
  background: linear-gradient(in oklch to right, black, transparent);
}

button {
  cursor: pointer;
}